@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'REM', sans-serif;

}
canvas{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: .5s;
}
a:hover{
    font-weight: bold;
    letter-spacing: .8rem;
    color: #000;
}
.nav,.list{
    display: flex;
}
.list{
    gap: 2rem;
    letter-spacing: 3px;
    justify-items: left;
}
.nav{
    top: 0;
    background-color: #B88ae6;
    height: 5rem;
    width: 250vh    ;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-bottom: 15px;
}
.logo{
    font-size: 25px;
    color: #fff;
}
.about-sec{
    height: 100vh;
    background: linear-gradient(180deg, #1a1c1b, #2a2e2e);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    transition: background 0.7s ease-in-out;
}
.detect-sec{
    height: 100vh;
    background: linear-gradient(180deg, #2a2e2e,#555d58);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    transition: background 0.7s ease-in-out;
}
.contact-sec{
    height: 100vh;
    background: linear-gradient(180deg,#555d58,#95ff77);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    transition: background 0.7s ease-in-out;
}
#detect{
    display: grid;
    grid-template-columns: 55vh 55vh 55vh;
    grid-template-rows: 100vh;

}
.input-Image{
    background-image: url() ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 50vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    transition:  .8s;
}
.input-Audio{
    background-image: url() ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .8s;
}
.input-Video{
    background-image: url() ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.file-upload{
    color: #5a42aa;
}
.Btn{
    background: transparent;
    position: relative ;
    padding: 6px;
    align-self: center;
    border-radius: 15px;
    font-size: 20px;
    width: 30vh;
    font-family: 'REM',sans-serif;
    transition: .5s;
}
.Btn:hover{
    opacity: 0.9;
    background-color: #525050;
    color:#000;
}
.input{
    display: none;
    color: #000;
    font-size: 18px;
    background: transparent;
}
