@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'REM', sans-serif;

}
/*Nav -Deefake*/
.nav a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: .5s;
}
a:hover{
    color: #000;
}
.nav,.list{
    display: flex;
}
.list{
    gap: 2rem;
    letter-spacing: 3px;
    justify-items: left;
}
.nav{
    background-color: #5a42aa;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 25px;
    color: #fff;
}
.sections{
    height: 100vh;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 20px;
    transition: background 0.7s ease-in-out;
}
.sections:nth-child(even) {
    background-color: #e0e0e0;
}
/*#about{
    display: flex;
    margin-top: 20px;
    padding: 40px;
    height: 40vh;
    background-color: rgb(255, 236, 214);

}
#contact{
    display: flex;
    margin-top: 20px;
    padding: 40px;
    height: 40vh;
    background-color: #000;
    color: #fff;
}*/
#detect{
    display: grid;
    grid-template-columns: 50vh 50vh 50vh;
    grid-template-rows: 100vh;

}
.input-Image{
    background-image: url(Input_Ex.jpeg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    transition:  .8s;
}
.input-Image:hover{
    width: 70vh;
}
.input-Audio{
    background-image: url() ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: .8s;
}
.input-Audio:hover{
    width: 70vh;
}
.input-Video{
    background-image: url() ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 45vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.file-upload{
    color: #5a42aa;
}
.Btn{
    background: transparent;
    position: relative ;
    padding: 6px;
    align-self: center;
    border-radius: 15px;
    font-size: 20px;
    width: 30vh;
    font-family: 'REM',sans-serif;
    transition: .5s;
}
.Btn:hover{
    opacity: 0.9;
    background-color: rgb(65, 65, 65);
    color:#ff7e5f;
}
.input{
    display: none;
    color: #000;
    font-size: 18px;
    background: transparent;
}
