@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'REM', sans-serif;

    display: block;
    background-color: #fff;
}
/*Nav -Deefake*/
.nav a{
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    transition: all 300ms ease-in-out;
    transition: .5s;
}
a:hover{
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(151, 151, 151);
}
.nav,.list{
    display: flex;
}
.list{
    gap: 2rem;
    letter-spacing: 3px;
    justify-items: left;
}
.nav{
    margin: 10px 10px;
    background-color: #5a42aa;
    height: 5rem;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 25px;
    color: #fff;
}

#about{
    display: flex;
    margin-top: 20px;
    padding: 40px;
    height: 40vh;
    background-color: rgb(255, 236, 214);
}